.form-callback .offer {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}

.form-callback .form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-callback .form-field .form-label {
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.form-callback .form-field .form-input {
  height: 40px;
  padding: 12px 12px 12px 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--black);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-callback .form-field .form-input::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.form-callback .form-field .form-input::-moz-placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.form-callback .form-field .form-input:-ms-input-placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.form-callback .form-field .form-input::-ms-input-placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.form-callback .form-field .form-input::placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.form-callback .form-input.form-textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form-callback .field-comments {
  margin-bottom: 20px;
}

.form-callback .field-conditions {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.form-callback .field-conditions .label-condition {
  margin-left: 5px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
  cursor: pointer;
}

.form-link {
  text-decoration: underline;
  color: var(--active-color);
  cursor: pointer;
}

.form-callback .form-buttons {
  text-align: center;
}

.button-submit {
  padding-right: 55px;
  padding-left: 56px;
}

.form-callback .form-field svg {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--black);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-callback .form-field:focus-within .form-input {
  border-color: transparent;
  border: 1px solid var(--active-color);
  outline: none;
}

.form-callback .form-field:focus-within svg {
  fill: var(--active-color);
}

.form-callback .form-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.form-callback .check-box {
  display: block;
  height: 15px;
  width: 16px;
  background-origin: border-box;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-callback .form-checkbox:checked + .check-box {
  border: 2px solid var(--active-color);
  background: var(--active-color) url("../images/elements/icon-check.svg") center center no-repeat;
  background-size: contain;
}/*# sourceMappingURL=callback.css.map */