.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  background-color: $hero-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/index/hero/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $text-primary-color;
  }
}
