.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--no-padding {
    padding-top: 0;
  }

  &__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: $title-color;
  }

  &--background {
    background-color: $secondary-color;
  }
}
